.learn-image img {
  width: 100%;
  background-position: center;
  background-size: auto;
  height: 90vh;
  filter: brightness(90%);
}

.over-text {
  top: 38%;
  margin-left: 10%;
}

.search-btn,
.search-btn2,
.registered {
  background-color: #e17f65;
}

.fs-btn-txt {
  color: #e17f65;
}

.search-row {
  background-color: gray;
}

.registration {
  color: white;
}

.anywhere {
  background-color: #509bdb;
}

.footer {
  background-color: black;
}

.footer-top-ul {
  color: white;
  list-style: none;
}

.search-dropdown,
.school-descrp {
  margin-top: 10%;
}

.g1 {
  top: 50%;
  margin-left: 20%;
}

.cb img {
  height: 100%;
}
