

.main-image img{
    width: 100%;
    background-position: center;
    background-size: auto;
    height: 90vh;
    filter: brightness(90%);
}

.main-text {
    top: 38%;
    margin-left:10%;
  }
.search-btn,
.registered
 {
    background-color: #e17f65;
}
.fs-btn-txt {
    color:  #e17f65;
}

.search-row {
    background-color: gray;
}

.registration{
    color: white;
}
.anywhere {
    background-color: #509bdb;
}